
.navbar-custom {
  background: linear-gradient(to right, #000000, #0d0d0d);
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  opacity: .7;
}


.home-container {
  background: linear-gradient(to bottom, #43C6FF, #000000, #43C6FF);
  min-height: 100vh;
  padding: 0;
}

.brand-text {
  font-weight: bold;
  color: white;
  font-size: 24px;
}


.form-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  opacity: 0.75;
}




.upload-btn {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #43C6FF;
}


.dropdown-job {
   background-color:#157198;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.dropdown-job::after {
  color: white;
}


.dropdown-skills {
   background-color:#157198;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}

.dropdown-skills::after {
  color: white;
}


.textarea-custom {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.submit-btn {
   background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit-btn:hover {
   background-color: #43C6FF;
}
