.sidebar-custom {
  background: linear-gradient(90deg, #1CB5E0 0%, #85a7d3 100%);
  color: #ffffff;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.4);
}

.sidebar-custom .nav-link {
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease;
}

.sidebar-custom .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
